:root {
  /* Colors */
  --background: #ffffff;
  --foreground: #182641;
  --secondary-text: #01bf93;
  --primary: #4c4dc3;
  --primary-foreground: #ffffff;
  --secondary: #f7f8fc;
  --secondary-foreground: #54627d;
  --accent: #e0ff01;
  --accent-foreground: #182641;
  --border: #e4e9f2;
  /* Font */
  --font: "Inter", sans-serif;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 540px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  padding: 12px 16px;
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  font-family: var(--font);
}
.btn.disabled, .btn:disabled {
  cursor: not-allowed;
  opacity: 0.65;
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--secondary-foreground);
}
.btn.loading {
  cursor: progress;
  pointer-events: none;
}
.btn--icon {
  padding: 12px;
  aspect-ratio: 1;
  border-radius: 100%;
  height: 48px;
  width: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn--icon > svg {
  background: transparent;
}
.btn--primary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--primary-foreground);
}
.btn--primary:hover {
  background-color: #4445b0;
  border-color: #4445b0;
}
.btn--primary:focus, .btn--primary:active {
  background-color: #4445b0;
  border-color: #4445b0;
}
.btn--accent {
  background-color: var(--accent);
  border-color: var(--accent);
  color: var(--accent-foreground);
}
.btn--accent:hover {
  background-color: #cae601;
  border-color: #cae601;
}
.btn--accent:focus, .btn--accent:active {
  background-color: #cae601;
  border-color: #cae601;
}
.btn--outline {
  background-color: var(--background);
  border-color: var(--border);
  color: #7c8aa5;
}
.btn--outline:hover {
  background-color: #f7f7f7;
  border-color: #f7f7f7;
}
.btn--outline:focus, .btn--outline:active {
  background-color: #f7f7f7;
  border-color: #f7f7f7;
}

* {
  color: var(--foreground);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  font-weight: 400;
}

body {
  background: var(--background);
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s ease;
  background: #fff;
}

/* Sticky header styles */
.header.sticky {
  position: sticky; /* Fixed position when sticky */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ensures it stays on top of other content */
}

.navbar {
  display: flex;
  align-items: center;
  height: 60px;
}

.nav-list {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  gap: 12px;
}

.nav--download-btn {
  font-weight: 600;
  padding-inline: 28px;
  border-radius: 40px;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown content */
.dropdown-content {
  display: block;
  position: absolute;
  background-color: var(--background);
  min-width: fit-content;
  box-shadow: 0px 4px 16px 0px rgba(24, 38, 65, 0.08);
  z-index: 999;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid var(--border);
  padding: 6px;
  left: 0;
  margin-top: 6px;
}
.dropdown-content.align-right {
  left: auto;
  right: 0;
}

.dropdown-content a {
  color: var(--secondary-foreground);
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  background-color: rgba(var(--secondary), 0.8);
}

.dropdown.show .dropdown-content {
  display: block;
}

.dropdown-item {
  border-radius: 12px;
  padding: 10px 16px;
  color: var(--secondary-foreground);
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  font-weight: 500;
}
.dropdown-item:hover {
  background: var(--accent);
  color: var(--foreground);
}

.hero-container {
  padding: 96px 30px;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 548px;
  margin-inline: auto;
}
.hero-heading {
  font-size: 36px;
  text-align: center;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 24px;
}
.hero-heading > span {
  font-weight: 600;
  color: var(--secondary-text);
}
.hero-description {
  color: var(--secondary-foreground);
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  font-weight: 400;
  display: block;
  margin-bottom: 40px;
}
@media (min-width: 576px) {
  .hero-heading {
    font-size: 40px;
    line-height: 54px;
  }
}

.btn--hero-download {
  gap: 1rem;
  padding: 4px 4px 4px 28px;
  border-radius: 40px;
  margin-inline: auto;
}
.btn--hero-download > span.btn--icon {
  display: block;
  background: var(--accent);
  color: var(--accent-foreground);
}
.btn--hero-download > span.btn--icon > svg {
  background-color: var(--accent);
}

.service--container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 8px;
}
.service--card {
  grid-column: span 12;
  background: var(--secondary);
  padding: 24px;
  border-radius: 16px;
}
.service--card-title {
  color: var(--foreground);
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 14px;
}
.service--card-text {
  color: var(--secondary-foreground);
  line-height: 28px;
  font-size: 18px;
  font-weight: 400;
}
@media (min-width: 576px) {
  .service--card {
    grid-column: span 6;
    border-radius: 24px;
  }
}
@media (min-width: 768px) {
  .service--container {
    gap: 12px;
  }
  .service--card {
    grid-column: span 4;
  }
  .service--card-title {
    color: var(--foreground);
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 14px;
  }
}

.separator {
  height: 1px;
  width: 100%;
  margin: 96px 0;
  background-color: var(--border);
}

@media (min-width: 576px) {
  .separator {
    margin: 144px 0;
  }
}
.sensor--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.sensor--content {
  min-width: 300px;
  width: fit-content;
  text-align: center;
}
.sensor--content-heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 24px;
}
.sensor--content-heading > span {
  font-weight: 600;
  color: var(--secondary-text);
}
.sensor--content-link {
  color: var(--primary);
  text-decoration: underline;
  text-decoration-color: var(--primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.sensor--cards {
  width: 100%;
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(12, 1fr);
  gap: 8px;
}
.sensor--card {
  grid-column: span 6;
  background: var(--secondary);
  padding: 32px 24px;
  border-radius: 20px;
}
.sensor--card-title {
  color: var(--foreground);
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  word-break: normal;
}
.sensor--card-image {
  height: 98px;
  width: 98px;
  border-radius: 50%;
  margin: 0 auto;
}
@media (min-width: 576px) {
  .sensor--container {
    flex-direction: column;
  }
  .sensor--content-heading {
    font-size: 36px;
    line-height: 40px;
  }
  .sensor--content-link {
    font-size: 18px;
    line-height: 28px;
  }
  .sensor--cards {
    gap: 12px;
  }
  .sensor--cards-title {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (min-width: 992px) {
  .sensor--container {
    gap: 28px;
    flex-direction: row;
  }
  .sensor--content {
    text-align: start;
  }
  .sensor--card {
    grid-column: span 4;
  }
}
@media (min-width: 1200px) {
  .sensor--container {
    gap: 40px;
  }
  .sensor--cards {
    gap: 12px;
  }
  .sensor--card {
    grid-column: span 3;
  }
}

.gallery {
  overflow: hidden;
}
.gallery-heading {
  font-size: 30px;
  text-align: center;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 48px;
}
.gallery-heading > span {
  font-weight: 600;
  color: var(--primary);
}
.gallery--row {
  width: 1080px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 12px;
}
.gallery--row-cols-2 {
  grid-column: span 2;
  width: 100%;
  height: 100%;
}
.gallery--row-cols-4 {
  grid-column: span 4;
  width: 100%;
  height: 100 .gallery--row-cols-4;
}
.gallery--row-img {
  width: 100%;
  height: 200px;
  border-radius: 16px;
}
@media (min-width: 768px) {
  .gallery-heading {
    font-size: 48px;
    line-height: 52px;
  }
  .gallery--row-img {
    width: 100%;
    height: 280px;
    border-radius: 20px;
  }
}

.book-download--container {
  max-width: 966px;
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 96px;
  margin: 96px auto;
  border-radius: 20px;
  background: var(--primary);
}
.book-download-heading {
  font-size: 30px;
  text-align: start;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 20px;
  color: var(--secondary);
}
.book-download-heading > span {
  font-weight: 600;
  color: var(--secondary);
}
.book-download-content {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  text-align: start;
  color: var(--secondary);
}
.book-download-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.book-download-link {
  color: var(--secondary);
  text-decoration: underline;
  text-decoration-color: var(--secondary);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  text-underline-offset: 3px;
}
@media (min-width: 768px) {
  .book-download--container {
    padding: 64px;
    margin: 140px auto;
    border-radius: 24px;
  }
  .book-download-heading {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 24px;
  }
  .book-download-content {
    font-size: 20px;
    line-height: 32px;
  }
  .book-download-link {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (min-width: 992px) {
  .book-download--container {
    flex-direction: row;
  }
}

.btn--book-download {
  gap: 1rem;
  padding: 4px 4px 4px 28px;
  border-radius: 40px;
  margin-inline: auto;
  white-space: nowrap;
  margin-bottom: 28px;
}
.btn--book-download > span.btn--icon {
  display: block;
  background: var(--primary);
  color: var(--secondary);
}
.btn--book-download > span.btn--icon > svg {
  background-color: var(--primary);
}
.btn--book-download > span.btn--icon > svg > path {
  stroke: var(--secondary);
}

.footer--container {
  max-width: 480px;
  width: 100%;
  margin: 48px auto 24px auto;
}
.footer--social-media-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 24px;
}
.footer--logo {
  height: 40px;
  width: 42px;
  display: flex;
  align-items: center;
  font-size: 24px;
}
.footer--divider-horizontal {
  height: 36px;
  width: 1px;
  background: var(--border);
}
.footer--divider-vertical {
  height: 1px;
  width: 100%;
  background: var(--border);
  margin: 28px auto;
}
.footer--social-media {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer--social-media-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  color: var(--primary);
}
.footer--subscription {
  height: 52px;
  width: 100%;
  background-color: var(--secondary);
  border-radius: 48px;
  padding: 4px 4px 4px 28px;
  display: flex;
  align-items: center;
}
.footer--input {
  border: 0;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background: transparent;
}
.footer--input::placeholder {
  color: var(--accent-foreground);
  opacity: 0.3;
}
.footer--input:focus {
  outline: none;
}
.footer--btn-subscribe-sm {
  border-radius: 44px;
  height: 44px;
  width: 44px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer--btn-subscribe-md {
  display: none;
}
.footer--copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--foreground);
  text-align: center;
}
@media (min-width: 576px) {
  .footer--social-media-container {
    margin: 0 0;
  }
  .footer--logo {
    height: 60px;
    width: 230px;
    font-size: 24px;
  }
  .footer--divider-horizontal {
    height: 48px;
  }
  .footer--social-media {
    gap: 24px;
  }
  .footer--divider-vertical {
    margin: 32px auto;
  }
  .footer--subscription {
    height: 60px;
  }
  .footer--input {
    font-size: 18px;
    line-height: 28px;
  }
  .footer--btn-subscribe-sm {
    display: none;
  }
  .footer--btn-subscribe-md {
    border-radius: 44px;
    height: 52px;
    padding: 12px;
    display: inline-block;
    padding: 12px 24px;
  }
  .footer--copyright {
    font-size: 16px;
    line-height: 24px;
  }
}

/*# sourceMappingURL=styles.css.map */
