// _container.scss

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: map-get($container-max-widths, sm);
  padding-left: map-get($container-padding, sm);
  padding-right: map-get($container-padding, sm);

  @media (min-width: map-get($breakpoints, sm)) {
    max-width: map-get($container-max-widths, sm);
    padding-left: map-get($container-padding, sm);
    padding-right: map-get($container-padding, sm);
  }

  @media (min-width: map-get($breakpoints, md)) {
    max-width: map-get($container-max-widths, md);
    padding-left: map-get($container-padding, md);
    padding-right: map-get($container-padding, md);
  }

  @media (min-width: map-get($breakpoints, lg)) {
    max-width: map-get($container-max-widths, lg);
    padding-left: map-get($container-padding, lg);
    padding-right: map-get($container-padding, lg);
  }

  @media (min-width: map-get($breakpoints, xl)) {
    max-width: map-get($container-max-widths, xl);
    padding-left: map-get($container-padding, xl);
    padding-right: map-get($container-padding, xl);
  }
}
