@import "variables";
@import "mixins";
@import "functions";
@import "container";
@import "buttons";

// button
* {
  color: var(--foreground);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  font-weight: 400;
}

html {
  overflow: hidden;
}

body {
  background: var(--background);
  padding-bottom: 20px;
  padding-top: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  width: 100vw;
}

// header

.header {
  position: sticky;
  top: 0;
  left: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100%;
  z-index: 1000; /* Ensures it stays on top of other content */
  transition: all 0.3s ease;
  background: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  height: 60px;

  &--logo {
    width: 184px;
    height: 18px;

    @media (min-width: map-get($breakpoints, md)) {
      width: 230px;
      height: 60px;
    }
  }
}

.nav-list {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  gap: 12px;
}

.nav--download-btn {
  font-weight: 600;
  padding-inline: 28px;
  border-radius: 40px;
  display: none;

  @media (min-width: map-get($breakpoints, sm)) {
    display: inline-block;
  }
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown content */
.dropdown-content {
  display: block;
  opacity: 0;
  position: absolute;
  background-color: var(--background);
  min-width: fit-content;
  box-shadow: 0px 4px 16px 0px rgba(24, 38, 65, 0.08);
  z-index: 999;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid var(--border);
  padding: 6px;
  left: 0;
  margin-top: 6px;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;

  &.align-right {
    left: auto;
    right: 0;
  }
}

.dropdown-content a {
  color: var(--secondary-foreground);
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  background-color: rgba(var(--secondary), 0.8);
}

.dropdown.show .dropdown-content {
  opacity: 1;
  pointer-events: all;
}

.dropdown-item {
  border-radius: 12px;
  padding: 10px 16px;
  color: var(--secondary-foreground);
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  font-weight: 500;
  &:hover {
    background: var(--accent);
    color: var(--foreground);
  }
}

// Hero Section

.hero {
  &-container {
    padding: 96px 30px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 548px;
    margin-inline: auto;
  }
  &-heading {
    font-size: 36px;
    text-align: center;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 24px;

    & > span {
      font-weight: 600;
      color: var(--secondary-text);
    }
  }

  &-description {
    color: var(--secondary-foreground);
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    font-weight: 400;
    display: block;
    margin-bottom: 40px;
  }

  @media (min-width: map-get($breakpoints, sm)) {
    &-heading {
      font-size: 40px;
      line-height: 54px;
    }
  }
}

.btn--hero-download {
  gap: 1rem;
  padding: 4px 4px 4px 28px;
  border-radius: 40px;
  margin-inline: auto;

  & > span.btn--icon {
    display: block;
    background: var(--accent);
    color: var(--accent-foreground);
    & > svg {
      background-color: var(--accent);
    }
  }
}

// service section

.service {
  &--container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 8px;
  }

  &--card {
    grid-column: span 12;

    background: var(--secondary);

    padding: 24px;
    border-radius: 16px;

    &-image {
      margin-bottom: 28px;
    }

    &-title {
      color: var(--foreground);
      font-size: 22px;
      line-height: 28px;
      font-weight: 600;
      margin-bottom: 14px;
    }

    &-text {
      color: var(--secondary-foreground);
      line-height: 28px;
      font-size: 18px;
      font-weight: 400;
    }
  }

  @media (min-width: map-get($breakpoints, sm)) {
    &--card {
      grid-column: span 6;
      border-radius: 24px;
    }
  }

  @media (min-width: map-get($breakpoints, md)) {
    &--container {
      gap: 12px;
    }

    &--card {
      grid-column: span 4;

      &-title {
        color: var(--foreground);
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
        margin-bottom: 14px;
      }
    }
  }
}

// separator section
.separator {
  height: 1px;
  width: 100%;
  margin: 96px 0;
  background-color: var(--border);
}

@media (min-width: map-get($breakpoints, sm)) {
  .separator {
    margin: 144px 0;
  }
}

// Sensor Patch Section
.sensor {
  &--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }

  &--content {
    min-width: 300px;
    width: fit-content;
    text-align: center;

    &-heading {
      font-size: 30px;
      line-height: 36px;
      font-weight: 400;
      margin-bottom: 24px;

      & > span {
        font-weight: 600;
        color: var(--secondary-text);
      }
    }

    &-link {
      color: var(--primary);
      text-decoration: underline;
      text-decoration-color: var(--primary);
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &--cards {
    width: 100%;
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(12, 1fr);
    gap: 8px;
  }

  &--card {
    grid-column: span 6;
    background: var(--secondary);
    padding: 32px 24px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-title {
      color: var(--foreground);
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      text-align: center;
      word-break: normal;
    }

    &-image {
      height: 98px;
      width: 138px;
      border-radius: 50%;
      margin: 0 auto 24px auto;
    }
  }

  @media (min-width: map-get($breakpoints, sm)) {
    &--container {
      flex-direction: column;
    }
    &--content {
      &-heading {
        font-size: 36px;
        line-height: 40px;
      }
      &-link {
        font-size: 18px;
        line-height: 28px;
      }
    }
    &--cards {
      gap: 12px;

      &-title {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }

  @media (min-width: map-get($breakpoints, lg)) {
    &--container {
      gap: 28px;
      flex-direction: row;
    }
    &--content {
      text-align: start;
    }
    &--card {
      grid-column: span 4;
    }
  }

  @media (min-width: map-get($breakpoints, xl)) {
    &--container {
      gap: 40px;
    }
    &--cards {
      gap: 12px;
    }
    &--card {
      grid-column: span 3;
    }
  }
}

// gallery section
.gallery {
  overflow: hidden;
  @media (max-width: map-get($breakpoints, md)) {
    overflow-x: auto;
    scrollbar-width: 0;
    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &-heading {
    font-size: 30px;
    text-align: center;
    line-height: 36px;
    font-weight: 400;
    margin-bottom: 48px;

    & > span {
      font-weight: 600;
      color: var(--primary);
    }
  }

  &--row {
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(12, 1fr);
    gap: 12px;

    &-cols-2 {
      grid-column: span 2;
      width: 100%;
      height: 100%;
    }

    &-cols-4 {
      grid-column: span 4;
      width: 100%;
      height: 100%;
    }

    &-img {
      width: 100%;
      border-radius: 16px;
    }
  }

  @media (min-width: map-get($breakpoints, md)) {
    &-heading {
      font-size: 48px;
      line-height: 52px;
    }
    &--row {
      &-img {
        width: 100%;
        height: 280px;
        border-radius: 20px;
      }
    }
  }
}

// book download section
.book-download {
  &--container {
    max-width: 966px;
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 96px;
    margin: 96px auto;
    border-radius: 20px;
    background: var(--primary);
    position: relative;

    &::before {
      content: "";
      background-image: url(assets/images/watermark-top-left.svg);
      background-repeat: no-repeat;
      position: absolute;
      width: 180px;
      height: 172px;
      top: 0;
      left: 0;
      transform: translate(-0px, -0px);
      z-index: 12;
    }

    &::after {
      content: "";
      background-image: url(assets/images/watermark-right-bottom.svg);
      background-repeat: no-repeat;
      position: absolute;
      width: 180px;
      height: 172px;
      bottom: 0;
      right: 0;
      transform: translate(60px, 60px);
      z-index: 12;
    }
  }

  &-heading {
    font-size: 30px;
    text-align: start;
    line-height: 36px;
    font-weight: 400;
    margin-bottom: 20px;
    color: var(--secondary);

    & > span {
      font-weight: 600;
      color: var(--secondary);
    }
  }

  &-content {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    text-align: start;
    color: var(--secondary);
  }

  &-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-link {
    color: var(--secondary);
    text-decoration: underline;
    text-decoration-color: var(--secondary);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    text-underline-offset: 3px;
  }

  @media (min-width: map-get($breakpoints, md)) {
    &--container {
      padding: 64px;
      margin: 140px auto;
      border-radius: 24px;
    }
    &-heading {
      font-size: 48px;
      line-height: 52px;
      margin-bottom: 24px;
    }

    &-content {
      font-size: 20px;
      line-height: 32px;
    }

    &-link {
      font-size: 18px;
      line-height: 28px;
    }
  }

  @media (min-width: map-get($breakpoints, lg)) {
    &--container {
      flex-direction: row;
    }
  }
}

.btn--book-download {
  gap: 1rem;
  padding: 4px 4px 4px 28px;
  border-radius: 40px;
  margin-inline: auto;
  white-space: nowrap;
  margin-bottom: 28px;

  & > span.btn--icon {
    display: block;
    background: var(--primary);
    color: var(--secondary);
    & > svg {
      background-color: var(--primary);
      & > path {
        stroke: var(--secondary);
      }
    }
  }
}

// footer section
.footer {
  &--container {
    max-width: 480px;
    width: 100%;
    margin: 48px auto 24px auto;
  }

  &--social-media-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 24px;
  }

  &--logo {
    height: 40px;
    width: 42px;
    display: flex;
    align-items: center;
    font-size: 24px;

    @media (min-width: map-get($breakpoints, sm)) {
      &-short {
        display: none;
      }
    }

    @media (max-width: map-get($breakpoints, sm)) {
      &-long {
        display: none;
      }
    }
  }

  &--divider-horizontal {
    height: 36px;
    width: 1px;
    background: var(--border);
  }

  &--divider-vertical {
    height: 1px;
    width: 100%;
    background: var(--border);
    margin: 28px auto;
  }

  &--social-media {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &--social-media-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    color: var(--primary);
  }

  &--subscription {
    height: 52px;
    width: 100%;
    background-color: var(--secondary);
    border-radius: 48px;
    padding: 4px 4px 4px 28px;
    display: flex;
    align-items: center;
  }

  &--input {
    border: 0;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 10px 0;
    background: transparent;

    &::placeholder {
      color: var(--accent-foreground);
      opacity: 0.3;
    }
  }

  &--input:focus {
    outline: none;
  }

  &--btn-subscribe-sm {
    border-radius: 44px;
    height: 44px;
    width: 44px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    & > span.btn--icon {
      display: block;
      background: var(--primary);
      color: var(--secondary);
      & > svg {
        background-color: var(--primary);
        & > path {
          stroke: var(--secondary);
        }
      }
    }
  }

  &--btn-subscribe-md {
    display: none;
  }

  &--copyright {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--foreground);
    text-align: center;
  }

  @media (min-width: map-get($breakpoints, sm)) {
    &--social-media-container {
      margin: 0 0;
    }
    &--logo {
      height: 60px;
      width: 230px;
      font-size: 24px;
    }
    &--divider-horizontal {
      height: 48px;
    }
    &--social-media {
      gap: 24px;
    }
    &--divider-vertical {
      margin: 32px auto;
    }
    &--subscription {
      height: 60px;
    }
    &--input {
      font-size: 18px;
      line-height: 28px;
    }
    &--btn-subscribe-sm {
      display: none;
    }
    &--btn-subscribe-md {
      border-radius: 44px;
      height: 52px;
      padding: 12px;
      display: inline-block;
      padding: 12px 24px;
    }
    &--copyright {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
